.layout {
    display: flex;
}

.menu {
    padding: 20px;
}

.menu-item {
    list-style: none;
}

.menu-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
}

.page {
    padding: 20px;
}